<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ output extension=".xml" #>
<?xml version="1.0" encoding="utf-8"?>
<project>
<#  string currentDirectory = this.Host.ResolvePath(".");
    foreach (string file in Directory.GetFiles(currentDirectory))
    {
        FileInfo fileInfo = new FileInfo(file);
#>
	<file><#= fileInfo.Name #></file>
<#  } #>
</project>